<!DOCTYPE html>
<!-- Classic Design -->

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" name="og:image" content="https://i.ibb.co/frhZmyZ/pp.jpg">
    <meta property="og:description" content="Simple WhatsApp Bot">
    <title>Kuhong - Bot Server</title>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://i.ibb.co/frhZmyZ/pp.jpg">
    <meta property="og:image" name="og:image" content="https://i.ibb.co/frhZmyZ/pp.jpg">
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" type="image/png" sizes="192x192" href="https://i.ibb.co/frhZmyZ/pp.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="js/ads.js"></script>
    <script src="js/index.js"></script>
  </head>
<body>
<fieldset class="main">
  <legend style="text-align:center"><h2>Kuhong Bot Server</h2></legend>
  <h4>
Status: <a id="status">Detecting...</a>
  <br>
Device: <a id="device">Detecting...</a>
  <br>
Time: <a id="times">Detecting...</a>
  <br>
IP Address: <a id="ip">Detecting...</a>
  <br>
Power: <a id="power">Detecting...</a>
  <br>
Cookie: <a id="cookie">Detecting...</a>
  <br>
Platform: <a id="platform">Detecting...</a>
  <br>
Ping: <a id="ping">Detecting...</a>
  </h4>
</fieldset>
<br><br>
<fieldset class="tutorial">
  <legend style="text-align:center"><h2>Cara Connect ke Server</h2></legend>
  <h4>
ScreenShot: <a href="media/Screenshot%20Tutorial.png" target="_blank">Klik Disini</a>
  <br>
Tutorial: <a href="javascript:void(0);" onclick="alert('Tutorial untuk saat ini sedang tidak tersedia :/');">Klik Disini</a>
  </h4>
</fieldset>
<br><br>
<fieldset class="download">
  <legend style="text-align:center"><h2>Download</h2></legend>
  <h4>
AutoResponder: <a href="media/AutoResponder%20(By%20Kuhong).apk" target="_blank">Klik Disini</a>
  <br>
Script Bot: <a href="media/Script%20Bot%20(By%20Kuhong).csv" target="_blank">Klik Disini</a>
  </h4>
</fieldset>
<br><br>
<fieldset class="about">
  <legend style="text-align:center"><h2>Tentang</h2></legend>
  <h4>
Dapatkan Apikey: <a href="javascript:void(0);" onclick="prompt('Silahkan salin apikeynya disini:', 'APIKEY');">Klik Disini</a>
  <br>
Owner: <a href="https://wa.me/62895337278647" target="_blank">Klik Disini</a>
  <br>
Join Grup: <a href="https://chat.whatsapp.com/HDOZX7OoFYK1bTwftkY5Si" target="_blank">Klik Disini</a>
  <br>
Donasi: <a href="https://saweria.co/donate/RC047" target="_blank">Klik Disini</a>
  <br>
Web Bot: <a href="/web_bot" target="_blank">Klik Disini</a>
  </h4>
</fieldset>
<br><br><br><br><br>
<marquee id="fun-fact">Loading...</marquee>
</body>
</html>
