<!-- Provided By RC047 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" name="og:image" content="https://i.ibb.co/frhZmyZ/pp.jpg">
    <meta property="og:description" content="Simple Web Bot">
    <title>Chat Bot</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/web_bot.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.5/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body oncontextmenu="return false;" onselectstart="return false;">
    <div class="container mx-auto center">
        <div class="card bg-light">
            <div class="card-header">
                <img src="https://i.ibb.co/frhZmyZ/pp.jpg"></img>
                <b>Kuhong Bot</b>
                <div class="other-menu">
                    <div class="other-menu-btn" href="javascript:void(0);"><i class="fa-solid fa-ellipsis-vertical"></i></div>
                    <div class="other-menu-content">
                        <a class="change-name" href="javascript:void(0);">Change Name</a>
                        <a class="clear-chat" href="javascript:void(0);">Clear Chat</a>
                        <a class="owner" href="https://wa.me/62895337278647">Owner</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="messages"><ul></ul></div>
            </div>
            <div class="card-footer">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Ketik pesan" dir="auto">
                    <div class="input-group-append">
                        <button class="btn btn-outline-dark send"><i class="fa fa-paper-plane"></i></button>
                        <button class="btn btn-outline-dark sen-file"><i class="fa fa-paperclip attachment"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/web_bot.js"></script>
</body>
</html>
